
        <footer class="footer">
            <div class="grid">
                <div class="grid-row footer__layout">
                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Khang đỗ văn</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn tán gái</a>
                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Giới thiệu</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Giới thiệu</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">CNTT5</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Tuyển dụng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Team fouteen</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item-icon fab fa-facebook"></i>
                                    Facebook</a>
                                
                            </li>
                            <li class="footer-item">
                                
                                <a href="" class="footer-item__link">
                                    <i class="footer-item-icon fab fa-instagram"></i>
                                    Instagram</a>
                               
                               
                            </li>
                            <li class="footer-item">
                                
                               
                                <a href="" class="footer-item__link">
                                    <i class="footer-item-icon fab fa-linkedin"></i>
                                    LinkeIn</a>
                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Danh mục</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Truyện mới nhất</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Truyện bán chạy</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Truyện Xem nhiều</a>
                            </li>
                           
                        </ul>
                    </div>

                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Vào của hàng qua ứng dụng</h3>
                        <div class="footer__dow">
                            <img src="/img/qaCode.png" alt="" class="footer__dow-qr">
                            <div class="footer__dow-apps">
                                <img src="/img/googlePlay.png" alt="" class="footer__dow-app-img">
                                <img src="/img/anh1.png" alt="" class="footer__dow-app-img">
                                

                            </div>  
                        </div>
                    </div>

                </div>
                
            </div>
            <div class="footer__bottom">

                <div class="grid">
                    <div class="grid-row">
                        <p class="footer__text"> @2021 - Bản quyền thuộc nhóm 14</p>
                    </div>
                </div>

            </div>
        </footer>
