<div class="container_Admin">

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" id="container_Admin-left">Admin Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container_Admin-right" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <img src="/img/{{imageAvatar}}" alt="" class="admin__img-avatar">
          <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{fullName}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/acount">Xem thông tin cá nhân</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/acount/logOut">Đăng xuất</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>


